.y-diagonal-parallax-t {
	margin-top: -230px;
	padding-top: 430px;
}

.y-diagonal-parallax-b {
	margin-bottom: -230px;
	padding-bottom: 230px;
}

.my-photo {
	max-width: 25%;
    height: auto;
    margin-bottom: 0em;
}

.screens {
    max-width: 55%;
    height: auto;
}

.screens-reduce {
    max-width: 25%;
    height: auto;
}